p {
    color: rgb(150, 150, 150);
    font-family: Arial;
    font-size: 15px;
    margin: 0;
}

.email-para {
    margin-bottom: 5px;
}

.email-box {
    width: 350px;
    border-width: 2px;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}

.policy-para {
    margin: 20px 0px 15px 0px;
}

.agree-button {
    width: 350px;
    color: white;
    text-align: center;
    background-color: rgb(78, 110, 255);
    border-radius: 20px;
    border: none;
    padding: 12px 0px 12px 0px;

    transition: opacity 250ms, width 250ms, margin 250ms, padding 250ms, font-size 250ms;
}

.agree-button:hover {
    opacity: 0.7;
}

.agree-button:active {
    opacity: 1;
    width: 175px;
    font-size: 12px;
    padding: 9px 0px 9px 0px;
    margin: 3px 87.5px 0px 87.5px;
}